In [13]:
import pandas as pd
import numpy as np
import time

In [20]:
df1 = pd.DataFrame(
    {
        "c1": [1,2,3,4,5],
        "v1": [11,22,33,44,55]
    }
)
df2 = pd.DataFrame(
    {
        "c1": [ 1,2,3,4,],
        "v2": [ 11,22,33,44,]
    }
)

In [21]:
t1 = time.time()
df_list = [df1, df2,]
for df in df_list:
    df.set_index(['c1'], inplace=True)

df = pd.concat(df_list, axis=1) 
df.reset_index(inplace=True)
t2 = time.time()
t1-t2

-0.0022521018981933594

In [22]:
df

   c1  v1    v2
0   1  11  11.0
1   2  22  22.0
2   3  33  33.0
3   4  44  44.0
4   5  55   NaN

In [10]:
t1 = time.time()
df = pd.merge(
    df1, df2,
    how="left",
    on="c1"
)
t2 = time.time()
t1-t2

-0.005705118179321289